<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s3infosoft.loyaltyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Select Hotel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OrderHistoryActivity"
            android:label="@string/title_activity_order_history"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PurchaseActivity"
            android:label="@string/title_activity_purchase"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".LandingActivity"
            android:label="Loyalty App"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SpecialDealsActivity" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".HotelActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.razorpay.ApiKey"
                android:value="rzp_test_usYqweKcoGE7oB" />
        </activity>
    </application>

</manifest>