<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s3infosoft.loyaltyapp">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Loy App"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.icy.chatscreen.Chemail12ph"/>
        <activity android:name=".ReservationHistoryActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ReservationActivity" />
        <activity android:name=".CartActivity" />
        <activity
            android:name=".OrderHistoryActivity"
            android:label="Order History"/>
        <activity
            android:name=".PurchaseActivity"
            android:label="Buy Points"/>
        <activity
            android:name=".MainActivity"
            android:label="Loy App"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SpecialDealsActivity" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".RedeemActivity" />
        <activity
            android:name=".LandingActivity"
            android:label="Loy App"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
      <activity android:name="com.icy.chatscreen.MainActivity">
        </activity>
        <activity android:name="com.icy.chatscreen.phonenumberlogin"/>
        <activity android:name="com.icy.chatscreen.ListItem"/>
        <activity android:name="com.icy.chatscreen.samplechatbot"/>
      <activity android:name="com.icy.chatscreen.Chuser"/>
        <activity android:name="com.icy.chatscreen.Chphone"/>
        <activity android:name="com.icy.chatscreen.ChEmail"/>
        <activity android:name="com.icy.chatscreen.Chpass"/>
        <activity android:name="com.icy.chatscreen.SettingsActivity"/>
        <activity android:name="com.icy.chatscreen.AcctDet"/>
        <activity android:name="com.icy.chatscreen.AcctInfActivity"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
      <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_WcDXqhe1knpIwW" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
    </application>
</manifest>